<% provide :title, "Edit profile" %>
<% provide :button_text, "Update my profile"%>

<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div class="gravatar-edit">
  <%= gravatar_for @user %>
  <a href="https://www.gravatar.com/emails" target="_blank">Change</a> 
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
<div>
   <h3>Cancel my account</h3>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
