<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user_profile_url(user.id) %>
  <% if current_user.is_admin? %>
    <%= link_to "delete", user_destroy_url(user.id), method: :delete, data: {confirm: "Are you sure?"}  %>
  <% end %>
</li>
