<footer class="footer">
  <small>
    <%= link_to "TWITTER LIKE APP", root_url %>
    By Sapar Kurmanov
  </small>
  <nav>
    <ul>
      <%= link_to "About", about_url %>
      <%= link_to "Contact", contact_url %>
    </ul>
  </nav>
</footer>
