<footer class="footer">
  <small>
    The <a href="https://twitterlike-prod.herokuapp.com/">Twitter like app</a>
    By Sapar Kurmanov
  </small>
  <nav>
    <ul>
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
    </ul>
  </nav>
</footer>
