<header class="nav navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "twitter like app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="active navbar-item"><%= link_to "Home", root_path %></li>
        <li class="navbar-item"><%= link_to "Help", help_path %></li>
        <li class="navbar-item"><%= link_to "Sign in", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
